.category1{
    border:solid black 2px;
    height:1.8rem;
    width:3rem;
    border-radius: 10px;
    margin-left: 1rem;
}
.category1:hover{
    background-color:#007569 ;
}
.category1 p{
    margin-top:-.4rem;
}
.category{
    margin-left: 2rem;
    border:solid black 2px;
    height:1.8rem;
    width:8rem;
    border-radius: 10px;
}
.category:hover{
    background-color:#007569 ;
}
.category p{
    margin-top:-.4rem;

}
.option{
    transform: translateX(6.5rem);

}
.optionbtn{
    background-color:white;
}