*{
    margin: 0;
    padding: 0;
}
.form-control{
    transform: translate(20rem,0rem);
    
    height:1.5rem
}
.home{
    transform: translate(20rem,0rem);

}
.navbar-brand h2{
    margin-left: 5rem;
}

.nav-link:hover{
    display: block;
    border-bottom: solid white 2px;
}

.d-flex input{
    font-size: .6rem;
    width: 12rem;     
}
.text-bg-light {
    margin-top:.3rem;
    width:5rem;
    height:2rem;
    background-color: white;
    border-radius: 5px;
   
}
.text-bg-light h6{
    text-align: center;
}





@media(max-width:991px){
    .d-flex input{
        display: none;
    }


}
